<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-row">
                <label for="year" class="col-md-2"
                  >Tahun
                  <input
                    id="year"
                    autocomplete="off"
                    [(ngModel)]="y"
                    (keyup.enter)="page = 1; loadAll()"
                    name="year"
                    type="number"
                    class="form-control"
                    (change)="transition()"
                  />
                </label>
                <label for="q" class="col-md-3"
                  >Pencarian
                  <input
                    id="q"
                    autocomplete="off"
                    [(ngModel)]="q"
                    (keyup.enter)="page = 1; loadAll()"
                    name="q"
                    type="text"
                    class="form-control"
                  />
                </label>
                <label class="col-md-2 px-lg-2">
                  &nbsp;
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="transition()"
                      [disabled]="isLoading()"
                    >
                      <!-- <i class="fa fa-refresh fa-fw"></i> -->
                      <fa-icon
                        [icon]="['fas', 'sync']"
                        [animation]="isLoading() ? 'spin' : undefined"
                      ></fa-icon>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="onAdd.emit()"
                    >
                      <i class="fa fa-plus fa-fw"></i>
                    </button>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr
                      jhiSort
                      [sortState]="sortState"
                      (sortChange)="transition($event)"
                    >
                      <th jhiSortBy="eventDate">
                        <span> Tanggal </span><fa-icon icon="sort"></fa-icon>
                      </th>
                      <th jhiSortBy="holiday.description">
                        <span> Nama Hari Libur </span><fa-icon icon="sort"></fa-icon>
                      </th>
                      <th jhiSortBy="holiday.type">
                        <span> Tipe </span><fa-icon icon="sort"></fa-icon>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let d of data;
                        let idx = index;
                        trackBy: trackIdentity
                      "
                      [ngStyle]="{ cursor: 'pointer' }"
                      (click)="onSelectRow(d)"
                    >
                    <td>{{ d.eventDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ d.holidayName }}</td>
                      <td>{{ d.type }}</td>
                      <td>
                        <span
                          class="badge"
                          [ngStyle]="{ 'background-color': d.color }"
                          >&nbsp;</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div
            class="d-flex justify-content-center"
            *ngIf="totalItems > itemsPerPage"
          >
            <pagination
              [totalItems]="totalItems"
              [(ngModel)]="page"
              [boundaryLinks]="true"
              (pageChanged)="loadPage($event)"
              [itemsPerPage]="itemsPerPage"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
