<form role="form" novalidate [formGroup]="form">
  <div class="modal-header">
    <strong> Tambah/ Edit Jadwal </strong>
    <small> &nbsp; {{ className }} </small>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-2">
      <label for="exampleFormControlInput1">Ruang & Jam</label>
      <input
          type="text"
          class="form-control"
          [value]="selectedClassRoom ? selectedClassRoom.name + ' [' + activityTime.activityName + ' ('+activityTime.startTime+' - '+activityTime.endTime+' ) ]' : ''"
          disabled
        />
    </div>
    <div class="form-group row">
      <div class="col-sm-12 col-md-4">
        <div class="d-flex justify-content-between align-items-center">
          <label class="col-form-label mb-0">Pengajar</label>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onAddTeacher()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container
        formArrayName="subjects"
        *ngFor="let d of subjectsControls.controls; let i = index"
      >
        <div [formGroupName]="i">
          <div class="row mb-3">
            <div class="col-md-5">
              <ng-select
                placeholder="Pilih Pelajaran"
                [items]="subjects"
                bindLabel="name"
                bindValue="id"
                formControlName="subjectId"
              ></ng-select>
            </div>
            <div class="col-md-7">
              <div class="input-group d-flex w-100">
                <ng-select
                  class="flex-grow-1"
                  placeholder="Pilih Pengajar"
                  [items]="teachers"
                  bindLabel="name"
                  bindValue="id"
                  formControlName="teacherId"
                ></ng-select>
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeSubject(i)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row mt-4">
      <div class="d-flex justify-content-between">
        <button
          [hidden]="data.id == null"
          type="button"
          class="btn btn-danger mr-2"
          (click)="onDelete()"
          [hidden]="isSubmiting()"
        >
          <i class="fa fa-ban"></i> Hapus
        </button>
        <div>&nbsp;</div>
        <button
          type="button"
          class="btn btn-primary"
          [hidden]="isSubmiting()"
          (click)="onSave()"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</form>
