<form role="form" novalidate [formGroup]="form">
  <div class="modal-header">
    <strong> Tambah/ Edit Jadwal </strong>
    <small> &nbsp; {{ className }} </small>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row mb-2">
      <label class="col-sm-3 col-md-3 col-form-label">
        Ruang & Jam
      </label>
      <div class="col-sm-9 col-md-9">
        <input
          type="text"
          class="form-control"
          [value]="selectedClassRoom ? selectedClassRoom.name + ' [' + activityTime.activityName + ' ('+activityTime.startTime+' - '+activityTime.endTime+' ) ]' : ''"
          disabled
        />
      </div>
    </div>
    <app-base-input
      type="ng-select"
      [formGroup]="form"
      label="Pelajaran"
      controlName="subjectId"
      labelWidth="col-sm-3 col-md-3"
      inputWidth="col-sm-9 col-md-9"
      layout="horizontal"
      [items]="subjects"
    ></app-base-input>
    <div class="form-group row">
      <div class="col-sm-3 col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <label class="col-form-label mb-0">Pengajar</label>
          <button type="button" class="btn btn-secondary btn-sm" (click)="onAddTeacher()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <table class="table table-sm">
          <tbody>
            <ng-container
              formArrayName="teachers"
              *ngFor="let d of teachersControls.controls; let i = index"
            >
              <tr [formGroupName]="i">
                <td class="p-0">
                  <ng-select
                    placeholder="Pilih Pengajar"
                    [items]="teachers"
                    bindLabel="name"
                    bindValue="id"
                    formControlName="employeeId"
                  ></ng-select>
                </td>
                <td width="10%">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeTeacher(i)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="d-flex justify-content-between">
        <button
          [hidden]="data.id == null"
          type="button"
          class="btn btn-danger mr-2"
          (click)="onDelete()"
          [hidden]="isSubmiting()"
        >
          <i class="fa fa-ban"></i> Hapus
        </button>
        <div>&nbsp;</div>
        <button
          type="button"
          class="btn btn-primary"
          [hidden]="isSubmiting()"
          (click)="onSave()"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</form>
