<form role="form" novalidate>
  <div class="modal-header">
    <strong> Izin/Sakit/Lainnya </strong>
    <small> &nbsp; {{ className }} </small>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-base-input
      type="ng-select"
      [formGroup]="form"
      label="Status Absen"
      controlName="presenceStatusId"
      labelWidth="col-sm-3 col-md-3"
      inputWidth="col-sm-9 col-md-9"
      layout="horizontal"
      [items]="presenceStatuses"
      (onSelectChange)="onPresenceStatusChange($event)"
    ></app-base-input>
    <app-base-input
      type="textarea"
      [formGroup]="form"
      label="Catatan"
      controlName="note"
      labelWidth="col-sm-3 col-md-3"
      inputWidth="col-sm-9 col-md-9"
      layout="horizontal"
    ></app-base-input>
    <div class="row">
      <div class="offset-md-3 col-md-9">
        <app-file-attachment [form]="form"></app-file-attachment>
      </div>
    </div>
    <div class="row mt-4">
      <div class="d-flex justify-content-between">
        <button
          [hidden]="data.id == null"
          type="button"
          class="btn btn-danger mr-2"
          (click)="onDelete()"
          [hidden]="isSubmiting()"
        >
          <i class="fa fa-ban"></i> Hapus
        </button>
        <div [hidden]="rowIndex >= 0">&nbsp;</div>
        <button type="button" class="btn btn-primary" [hidden]="isSubmiting()" (click)="onSave()">
          Simpan
        </button>
      </div>
    </div>
  </div>
</form>
