<div class="animated fadeIn">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-edit"></i>
            <span class="h5"> Absensi KBM</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <app-base-input
                  type="ng-select"
                  [formGroup]="form"
                  label="Tahun Ajaran"
                  controlName="academicYearId"
                  labelWidth="col-sm-3 col-md-4"
                  inputWidth="col-sm-9 col-md-8"
                  layout="horizontal"
                  [items]="academicYears"
                  (onSelectChange)="loadClassRoom()"
                ></app-base-input>
              </div>
              <div class="col-md-6">
                <app-base-input
                  type="ng-select"
                  [formGroup]="form"
                  label="Institusi/ Lembaga"
                  controlName="institutionId"
                  labelWidth="col-sm-3 col-md-4"
                  inputWidth="col-sm-9 col-md-8"
                  layout="horizontal"
                  [items]="institutions"
                  (onSelectChange)="loadClassRoom()"
                ></app-base-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-base-input
                  type="ng-select"
                  [formGroup]="form"
                  label="Ruang Kelas"
                  controlName="classRoomId"
                  labelWidth="col-sm-3 col-md-4"
                  inputWidth="col-sm-9 col-md-8"
                  layout="horizontal"
                  [labelFormat]="'${name} - ${sexLabel}'"
                  [items]="classRooms"
                  (onSelectChange)="onSelectClassRoom($event)"
                ></app-base-input>
              </div>
              <div class="col-md-6">
                <!-- <div class="row">
                  <label class="col-md-4 col-form-label">&nbsp;</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="filter..." aria-label="Filter" formControlName="filterText">
                      <span class="input-group-text">
                        <i class="fas fa-filter"></i>
                      </span>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-sm table-hover">
                    <thead class="table-light">
                      <tr>
                        <th>
                          <span> No </span>
                        </th>
                        <th>
                          <span> NIS </span>
                        </th>
                        <th>
                          <span> NISN </span>
                        </th>
                        <th>
                          <span> Nama Santri </span>
                        </th>
                        <th class="p-2" class="text-center" width="5%">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="selectAll"
                              name="selectAll"
                              id="selectAll"
                              (ngModelChange)="onSelectAll()"
                            />
                            <label class="form-check-label" for="isDefault">
                              Hadir
                            </label>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container
                        formArrayName="students"
                        *ngFor="
                          let d of getFormDetailControls.controls;
                          let i = index;
                          let first = first;
                          let last = last
                        "
                      >
                        <tr [formGroupName]="i">
                          <td>{{ i + 1 | number }}</td>
                          <td>{{ d.value.nis }}</td>
                          <td>{{ d.value.nisn }}</td>
                          <td>{{ d.value.name }}</td>
                          <td class="text-center align-middle">
                            <input
                              type="checkbox"
                              formControlName="selected"
                              (change)="onSelected()"
                            />
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="border-top pt-2 d-flex justify-content-end px-2">
                  <app-submit-button
                    [isSubmitting]="isSubmitting()"
                    (click)="onSave()"
                    buttonText="Simpan"
                  >
                  </app-submit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
