<form role="form" novalidate [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <h3 class="title-group-header mt-4">Ayah</h3>
      <app-base-input
        [formGroup]="form"
        controlName="address1"
        label="Alamat"
        labelWidth="col-sm-4 col-md-2"
        inputWidth="col-sm-8 col-md-10"
        layout="horizontal"
      ></app-base-input>
      <div class="row">
        <div class="col-md-6 col-12">
          <app-base-input
            type="ng-select"
            [formGroup]="form"
            label="Agama"
            controlName="religionId"
            labelWidth="col-sm-3 col-md-4"
            inputWidth="col-sm-9 col-md-8"
            layout="horizontal"
            [items]="religions"
          ></app-base-input>
        </div>
        <div class="col-md-6">
          <app-base-input
            type="ng-select"
            [formGroup]="form"
            label="Kewarganegaraan"
            controlName="nationalityId"
            labelWidth="col-sm-3 col-md-5"
            inputWidth="col-sm-9 col-md-7"
            layout="horizontal"
            [items]="countries"
          ></app-base-input>
        </div>
      </div>
      <app-base-input
        [formGroup]="form"
        controlName="address1"
        label="Alamat"
        labelWidth="col-sm-4 col-md-2"
        inputWidth="col-sm-8 col-md-10"
        layout="horizontal"
      ></app-base-input>
      <div class="row">
        <div class="col-md-4">
          <app-base-input
            [formGroup]="form"
            controlName="rt"
            label="RT"
            labelWidth="col-sm-4 col-md-6"
            inputWidth="col-sm-8 col-md-6"
            layout="horizontal"
          ></app-base-input>
        </div>
        <div class="col-md-4">
          <app-base-input
            [formGroup]="form"
            controlName="rw"
            label="RW"
            labelWidth="col-sm-4 col-md-4"
            inputWidth="col-sm-8 col-md-6"
            layout="horizontal"
          ></app-base-input>
        </div>
        <div class="col-md-4">
          <app-base-input
            [formGroup]="form"
            controlName="postalCode"
            label="Kode Pos"
            labelWidth="col-sm-4 col-md-4"
            inputWidth="col-sm-8 col-md-8"
            layout="horizontal"
          ></app-base-input>
        </div>
      </div>
      <app-base-input
        type="ng-select"
        [formGroup]="form"
        label="Kelurahan"
        controlName="subDistrictId"
        labelWidth="col-sm-3 col-md-2"
        inputWidth="col-sm-9 col-md-10"
        layout="horizontal"
        [items]="subDistricts"
        [labelFormat]="
          '${name} - ${districtName} - ${cityName} -${provinceName}'
        "
        (onKeyUp)="onSubDistrictKeyUp($event)"
      ></app-base-input>
    </div>
  </div>
</form>
