<div
  [ngClass]="{ row: layout === 'horizontal', 'mb-2': true }"
  [formGroup]="formGroup"
>
  <label [ngClass]="labelWidth" class="col-form-label">{{ label }}</label>
  <div [ngClass]="inputWidth">
    <input
      *ngIf="['text', 'number', 'date'].includes(type)"
      [type]="type"
      class="form-control"
      [formControlName]="controlName"
      [placeholder]="placeholder"
    />
    <ng-select
      *ngIf="type == 'ng-select'"
      [items]="items"
      bindLabel="name"
      bindValue="id"
      [formControlName]="controlName"
      (change)="onSelectChange.emit()"
      (keyup)="search(getValue($event))"
      [searchFn]="customSearchFn"
    >
    </ng-select>
  </div>
</div>
