<div
  [ngClass]="{ row: layout === 'horizontal', 'mb-2': true }"
  [formGroup]="formGroup"
>
  <label [ngClass]="labelWidth" class="col-form-label" [for]="controlName">{{ label }}</label>
  <div [ngClass]="inputWidth">
    <input
      *ngIf="['text', 'number', 'date'].includes(type)"
      [type]="type"
      class="form-control"
      [id]="controlName"
      [formControlName]="controlName"
      [placeholder]="placeholder"
    />
    <textarea
      *ngIf="type == 'textarea'"
      [rows]="rows"
      class="form-control"
      [id]="controlName"
      [formControlName]="controlName"
      [placeholder]="placeholder"
    ></textarea>
    <ng-select
      *ngIf="type == 'ng-select'"
      [items]="items"
      bindLabel="name"
      bindValue="id"
      [id]="controlName"
      [formControlName]="controlName"
      (change)="onSelectChange.emit()"
      (keyup)="search(getValue($event))"
      [searchFn]="customSearchFn"
    >
    </ng-select>
    <input
      [id]="controlName"
      class="form-control"
      *ngIf="type == 'color-picker'"
      [style.background]="color"
      [cpPresetColors]="[
        '#fff',
        '#000',
        '#2889e9',
        '#e920e9',
        '#fff500',
        'rgb(236,64,64)'
      ]"
      [(colorPicker)]="color"
      (colorPickerChange)="onChangeColor($event)"
    />
  </div>
</div>
