<div
  [ngClass]="{ row: layout === 'horizontal', 'mb-2': true }"
  [formGroup]="formGroup"
>
  <label [ngClass]="labelWidth" class="col-form-label" [for]="controlName">{{
    label
  }}</label>
  <div [ngClass]="inputWidth">
    <input
      *ngIf="['text', 'number', 'email'].includes(type)"
      [type]="type"
      [autofocus]="autofocus"
      [autocomplete]="autocomplete"
      class="form-control"
      [id]="controlName"
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    />
    <input
      *ngIf="type =='date'"
      [type]="type"
      [autofocus]="autofocus"
      [autocomplete]="autocomplete"
      class="form-control"
      [id]="controlName"
      [formControlName]="controlName"
      data-date-format="DD/MM/YYYY"
      [placeholder]="placeholder"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    />
    <input
      *ngIf="type == 'bs-datepicker'"
      type="text"
      placeholder="Datepicker"
      class="form-control"
      [id]="controlName"
      bsDatepicker
      [placeholder]="placeholder"
      [bsConfig]="bsConfig"
      autocomplete="off"
      [(bsValue)]="value"
      (bsValueChange)="onDateChange($event)"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    />
    <div class="ui-fluid">
      <p-calendar
        *ngIf="type == 'p-datepicker'"
        [formControlName]="controlName"
        class="ng-invalid ng-dirty"
      />
    </div>
    <textarea
      *ngIf="type == 'textarea'"
      [rows]="rows"
      class="form-control"
      [id]="controlName"
      [formControlName]="controlName"
      [placeholder]="placeholder"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    ></textarea>
    <ng-select
      *ngIf="type == 'ng-select'"
      [items]="items"
      bindValue="id"
      [id]="controlName"
      [formControlName]="controlName"
      (change)="onSelectChange.emit($event)"
      (keyup)="search(getValue($event))"
      [searchFn]="customSearchFn"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    >
      <ng-template ng-option-tmp let-item="item">
        {{ formatLabel(item) }}
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        {{ formatLabel(item) }}
      </ng-template>
    </ng-select>
    <input
      [id]="controlName"
      class="form-control"
      *ngIf="type == 'color-picker'"
      [style.background]="color"
      [cpPresetColors]="[
        '#fff',
        '#000',
        '#2889e9',
        '#e920e9',
        '#fff500',
        'rgb(236,64,64)'
      ]"
      [(colorPicker)]="color"
      (colorPickerChange)="onChangeColor($event)"
      [ngClass]="{
        'is-invalid':
          formGroup.get(controlName)?.invalid &&
          formGroup.get(controlName)?.touched
      }"
    />
    <div class="form-check" *ngIf="type == 'checkbox'">
      <input
        class="form-check-input"
        type="checkbox"
        [formControlName]="controlName"
        [name]="controlName"
        [id]="controlName"
      />
      <label class="form-check-label" for="isDefault">
        Ya
      </label>
    </div>
    <div
      *ngIf="formGroup.get(controlName)?.errors?.['required'] && formGroup.get(controlName)?.touched"
      class="invalid-feedback"
    >
      {{ label }} harus diisi
    </div>
  </div>
</div>
