<form role="form" novalidate [formGroup]="form">
  <div class="modal-header">
    <strong> Tambah/ Edit Jadwal </strong>
    <small> &nbsp; {{ form.getRawValue()?.classRoomName }} </small>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row mb-2">
      <label class="col-sm-3 col-md-3 col-form-label">
        Hari/ Jam
      </label>
      <div class="col-sm-9 col-md-9">
        <input
          type="text"
          class="form-control"
          [value]="form.getRawValue().dayName+' / '+ form.getRawValue().activityStartTime+'-'+ form.getRawValue().activityEndTime"
          disabled
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 col-md-3">
        <label class="col-form-label mb-0">Pengajar</label>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <ng-container
              formArrayName="subjectTeachers"
              *ngFor="let d of subjectTeachersControls.controls; let i = index"
            >
              <div [formGroupName]="i">
                <div class="row mb-1">
                  <ng-select
                    placeholder="Pilih Pelajaran"
                    [items]="subjects"
                    bindLabel="name"
                    bindValue="id"
                    formControlName="subjectId"
                  ></ng-select>
                </div>
                <div class="row mb-3">
                  <div class="input-group d-flex w-100">
                    <ng-select
                      class="flex-grow-1"
                      placeholder="Pilih Pengajar"
                      [items]="teachers"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="teacherId"
                    ></ng-select>
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="removeSubject(i)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-9">
        <button type="button" class="btn btn-secondary btn-sm w-100" (click)="onAddTeacher()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="d-flex justify-content-between">
        <button
          [hidden]="data?.id == null"
          type="button"
          class="btn btn-danger mr-2"
          (click)="onDelete()"
          [hidden]="isSubmiting()"
        >
          <i class="fa fa-ban"></i> Hapus
        </button>
        <div>&nbsp;</div>
        <button
          type="button"
          class="btn btn-primary"
          [hidden]="isSubmiting()"
          (click)="onSave()"
        >
          Simpan
        </button>
      </div>
    </div>
  </div>
</form>
