<form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <app-base-input
            [formGroup]="form"
            controlName="code"
            label="Kode"
            labelWidth="col-sm-3 col-md-6"
            inputWidth="col-sm-4 col-md-6"
            layout="horizontal"
          ></app-base-input>
        </div>
        <div class="col-md-8">
          <div class="form-check ms-3">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="active"
              name="active"
              id="active"
            />
            <label class="form-check-label text-danger" for="active">
              Aktif
            </label>
          </div>
        </div>
      </div>

      <app-base-input
        [formGroup]="form"
        controlName="name"
        label="Nama Tugas"
        labelWidth="col-sm-3 col-md-2"
        inputWidth="col-sm-4 col-md-10"
        layout="horizontal"
      ></app-base-input>
      <app-base-input
        type="textarea"
        [formGroup]="form"
        label="Detail Tugas"
        controlName="description"
        labelWidth="col-sm-3 col-md-2"
        inputWidth="col-sm-9 col-md-10"
        layout="horizontal"
      ></app-base-input>

      <div class="row border-top pt-2">
        <div class="d-flex justify-content-between px-2">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="onDelete()"
            *ngIf="form.get('id')?.value != null"
          >
            <i class="fa fa-ban"></i> Hapus
          </button>
          &nbsp;
          <app-submit-button
            [isSubmitting]="isSubmitting()"
            buttonText="Simpan"
          >
          </app-submit-button>
        </div>
      </div>
    </div>
  </div>
</form>
