/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import 'ngx-toastr/toastr-bs5-alert';
@import "@ng-select/ng-select/themes/default.theme.css";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

ngx-progressbar {
  --ng-progress-color: #ff9800; /* Oranye */
}

.custom-modal-width {
  max-width: 90%;
  height: 100%;
}

.custom-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
