<div class="card">
  <form [formGroup]="filterForm" (keydown.enter)="$event.preventDefault()">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <!-- <label for="typeId" class="col-md-3"
                    >Tipe Akun
                    <ng-select
                      placeholder="Pilih Tipe Akun"
                      id="typeId"
                      name="typeId"
                      [items]="coaTypes"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="typeId"
                      (change)="findAll()"
                    >
                    </ng-select>
                  </label> -->
            <label class="col-md-2">
              <div>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="findAll()"
                >
                  <i class="fa fa-refresh fa-fw"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onAdd.emit()"
                >
                  <i class="fa fa-plus fa-fw"></i>
                </button>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="list != null">
        <div class="col-md-12">
          <p-treeTable
            [value]="list"
            [scrollable]="true"
            class="table-hover pr-0 p-treetable-gridlines"
          >
            <ng-template pTemplate="header">
              <tr>
                <th width="20%" style="background-color: #f0f3f5">Kode</th>
                <th style="background-color: #f0f3f5">Unit Organisasi</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr
                [ttRow]="rowNode"
                style="cursor: pointer"
                (click)="edit(rowData)"
              >
                <td
                  width="20%"
                  [ngClass]="{
                    'font-weight-bold': rowData?.childCount > 0
                  }"
                >
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{ rowData.code }}
                </td>
                <td
                  [ngClass]="{
                    'font-weight-bold': rowData?.childCount > 0
                  }"
                >
                  {{ rowData.name }}
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </div>
    </div>
  </form>
</div>
