<form role="form" novalidate [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th><span> Grade </span></th>
                  <th><span> Institusi </span></th>
                  <th><span> Jurusan </span></th>
                  <th><span> Th. Masuk </span></th>
                  <th><span> Th. Lulus </span></th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  formArrayName="formalEducations"
                  *ngFor="
                    let d of getFormDetailControls.controls;
                    let i = index;
                    let first = first;
                    let last = last
                  "
                >
                  <tr
                    [formGroupName]="i"
                    [ngStyle]="{ cursor: 'pointer' }"
                    (click)="onEdit(i)"
                  >
                    <td>{{ d.value.educationLevelName }}</td>
                    <td>{{ d.value.institutionName }}</td>
                    <td>{{ d.value.majors }}</td>
                    <td class="text-right">{{ d.value.startYear }}</td>
                    <td class="text-right">{{ d.value.endYear }}</td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <button
                      type="button"
                      class="btn btn-sm btn-secondary"
                      (click)="onAddEducation()"
                    >
                      Tambah Data Pendidikan
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
