<form role="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <app-base-input
                [formGroup]="form"
                controlName="employeeNo"
                label="NIY"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-4 col-md-8"
                layout="horizontal"
              ></app-base-input>
            </div>
            <div class="col-md-6">
              <app-base-input
                type="ng-select"
                [formGroup]="form"
                label="Kategori"
                controlName="categoryId"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-9 col-md-6"
                layout="horizontal"
                [items]="categories"
              ></app-base-input>
            </div>
          </div>
          <app-base-input
            [formGroup]="form"
            controlName="name"
            label="Nama Pegawai"
            labelWidth="col-sm-4 col-md-2"
            inputWidth="col-sm-8 col-md-10"
            layout="horizontal"
          ></app-base-input>
          <div class="row">
            <div class="col-md-6 col-12">
              <app-base-input
                type="ng-select"
                [formGroup]="form"
                label="Jenis Kelamin"
                controlName="sex"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-9 col-md-8"
                layout="horizontal"
                [items]="sexs"
              ></app-base-input>
            </div>
            <div class="col-md-6 col-12">
              <app-base-input
                type="text"
                [formGroup]="form"
                label="N.I.K"
                controlName="nik"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-9 col-md-8"
                layout="horizontal"
              ></app-base-input>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <app-base-input
                type="ng-select"
                [formGroup]="form"
                label="Tmp. Lahir"
                [labelFormat]="'${name} - ${provinceName}'"
                controlName="pobId"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-9 col-md-8"
                layout="horizontal"
                [items]="cities"
              ></app-base-input>
            </div>
            <div class="col-md-6 col-12">
              <app-base-input
                type="bs-datepicker"
                [formGroup]="form"
                label="Tgl. Lahir"
                controlName="dob"
                labelWidth="col-sm-3 col-md-4"
                inputWidth="col-sm-9 col-md-6"
                layout="horizontal"
                [items]="jobPositions"
              ></app-base-input>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <app-personal-photo [form]="form"></app-personal-photo>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Unit Organisasi" id="tabUnor">
              <app-employee-edit-unor [form]="form"></app-employee-edit-unor>
            </tab>
            <tab heading="Riwayat Pendidikan" id="tabEducation">
              <app-employee-edit-education
                [form]="form"
              ></app-employee-edit-education>
            </tab>
            <tab heading="Informasi Pribadi" id="tabPersonal">
              <app-employee-edit-personal
                [form]="form"
                [religions]="religions"
              ></app-employee-edit-personal>
            </tab>
            <tab heading="Riwayat Jam Kerja" id="tabWorkingHour">
              <app-employee-edit-working-hour
                [form]="form"
              ></app-employee-edit-working-hour>
            </tab>
          </tabset>
        </div>
      </div>
      <div class="row border-top pt-2">
        <div class="d-flex justify-content-between px-2">
          <button
            type="button"
            class="btn btn-danger mr-2"
            (click)="onDelete()"
            *ngIf="form.get('id')?.value != null"
          >
            <i class="fa fa-ban"></i> Hapus
          </button>
          &nbsp;
          <app-submit-button
            [isSubmitting]="isSubmitting()"
            buttonText="Simpan"
          >
          </app-submit-button>
        </div>
      </div>
    </div>
  </div>
</form>
