<form role="form" novalidate [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <label class="col-md-2 px-lg-2">
              <div class="">

              </div>
            </label>
          </div>
        </div>
      </div>
      <h5 class="title-group-header">Jam Kerja Umum/ Non Shift</h5>
      <div class="row">
        <div class="col-md-6">
          <app-base-input
            type="ng-select"
            [formGroup]="form"
            label="Lokasi Absensi"
            controlName="presenceLocationId"
            labelWidth="col-sm-3 col-md-4"
            inputWidth="col-sm-9 col-md-8"
            layout="horizontal"
            [items]="locations"
          ></app-base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th><span> Tgl Efektif </span></th>
                  <th><span> Nama Jam Kerja </span></th>
                  <th><span> Keterangan </span></th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  formArrayName="workingHours"
                  *ngFor="
                    let d of getFormDetailControls.controls;
                    let i = index;
                    let first = first;
                    let last = last
                  "
                >
                  <tr
                    [formGroupName]="i"
                    [ngStyle]="{ cursor: 'pointer' }"
                    (click)="onEdit(i)"
                  >
                    <td>{{ d.value.effectiveDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ d.value.workingHourName }}</td>
                    <td>{{ d.value.description }}</td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <button
                      type="button"
                      class="btn btn-sm btn-secondary"
                      (click)="onAddWorkingHour()"
                    >
                      Tambah Jam Kerja
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" formControlName="workingShift" name="workingShift" id="workingShift">
          <label class="form-check-label text-danger" for="workingShift">
            Pegawai bekerja secara shift
          </label>
        </div>
      </div>
    </div>
  </div>
</form>
