<div class="modal-header">
  <strong> Lookup Orangtua/ Wali </strong>
  <small> &nbsp; {{ sex==='M' ? 'Ayah' : 'Bunda' }} </small>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-row">
        <label for="q" class="col-md-3"
          >Pencarian
          <input
            id="q"
            autocomplete="off"
            [(ngModel)]="q"
            (keyup.enter)="page = 1; loadData()"
            name="q"
            type="text"
            class="form-control"
          />
        </label>
        <label class="col-md-2 px-lg-2">
          &nbsp;
          <div class="">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="transition()"
              [disabled]="isLoading()"
            >
              <!-- <i class="fa fa-refresh fa-fw"></i> -->
              <fa-icon [icon]="['fas', 'sync']" [animation]="isLoading() ? 'spin' : undefined"></fa-icon>
            </button>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr jhiSort [sortState]="sortState" (sortChange)="transition($event)">
              <th jhiSortBy="title"><span> Title</span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="name"><span> Nama</span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="sex"><span> Jenis Kelamin</span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="dob"><span> Tgl. Lahir </span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="phone"><span> No. HP </span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="email"><span> Email </span><fa-icon icon="sort"></fa-icon></th>
              <th jhiSortBy="address"><span> Alamat </span><fa-icon icon="sort"></fa-icon></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let d of data;
                let idx = index;
                trackBy: trackIdentity
              "
              [ngStyle]="{'cursor': 'pointer'}"
              (click)="onSelectRow(d)"

            >
              <td>{{ d.title }}</td>
              <td>{{ d.name }}</td>
              <td>{{ d.sex }}</td>
              <td>{{ d.dob | date: 'dd/MM/yyyy' }}</td>
              <td>{{ d.phone }}</td>
              <td>{{ d.email }}</td>
              <td>{{ d.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="totalItems > itemsPerPage">
    <pagination
      [totalItems]="totalItems"
      [(ngModel)]="page"
      [boundaryLinks]="true"
      (pageChanged)="loadPage($event)"
      [itemsPerPage]="itemsPerPage"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
